---
layout: projects
permalink: /projects/
---

{% for project in site.data.projects %}
  {% assign counter = forloop.index | modulo: 2 %}
  <!-- {{ counter }} -->
  {% if counter == 1 %}
    <div class="row">
  {% endif %}
    <div class="col-sm-6">
      <h2 class="list-post-title">
        <a target="_blank" href="{{ project.url }}">{{ project.name }}</a> 
      </h2>
      <div class="list-post-date kill-margin">
        {{ project.duration }}
      </div>
      <div class="post">
        {{ project.write_up }}
        {% if project.play_store %}
          <a target="_blank" href="{{ project.play_store }}">Play Store</a>
        {% endif %}
        {% if project.url %}
          <a target="_blank" href="{{ project.url }}">More</a>
        {% endif %}
      </div>
      <div class="post add-margin">
      {% for item in project.stack %}
        <span title="{{item}}" aria-hidden="true" class="{{item}}"></i>
      {% endfor %}
      </div>
    </div>
  {% if counter == 0 %}
    </div>
  {% endif %}
{% endfor %}
