body {
  background-color: #352939;
  color: #f4cde9;
  font-family: "Iosevka Term", sans-serif;
  margin: auto;
  max-width: 600px;
}

h1 > span {
  background-color: #f4cde9;
  color: #352939;
  padding: 0.25em 0.5em;
  border-radius: 1em;
}

a,
a:visited {
  color: #f4cde9;
}
